@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACE Education</title>
    <link href="~/image/ace logo.jpg" rel="shortcut icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/css/loginstyle.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <style type="text/css">
        .error {
            width: 100%;
            margin: 0px auto;
            padding: 10px;
            border: 1px solid #a94442;
            color: #a94442;
            background: #f2dede;
            border-radius: 5px;
            text-align: left;
        }
    </style>
</head>

<body>

    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div style="text-align:right;">
                    <a href="@Url.Action("Index","Login")" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true" style="font-size:40px;">&times;</span>
                    </a>
                </div>
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/image/Ace_logo.jpg" alt="sign up image"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Forgot Password</h2>
                        <form method="post" name="loginForm">
                            @if (@TempData["message"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible">
                                    @TempData["message"]
                                </div>
                            }

                            <div class="form-group">
                                <label for="your_name"><i class="fa fa-user" aria-hidden="true"></i></label>
                                <input type="text" name="userName" id="userName" placeholder="IC Number" required="required" />
                            </div>

                            <div class="form-group">
                                <label for="your_name"><i class="fa fa-phone" aria-hidden="true"></i></label>
                                <input type="tel" name="phone" id="phone" placeholder="Example: 0123456789" required="required" />
                            </div>

                            <div class="form-group">
                                <label for="your_pass"><i class="fa fa-unlock-alt" aria-hidden="true"></i></label>
                                <input type="password" name="password" id="password" placeholder="New Password" minlength="6" required="required" />
                            </div>

                            <div class="form-group">
                                <label for="your_pass"><i class="fa fa-unlock-alt" aria-hidden="true"></i></label>
                                <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" minlength="6" required="required" />
                            </div>


                            <div class="form-group form-button">
                                <input type="submit" name="reset" id="reset" class="form-submit" value="Reset" />
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>
